# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Ignore Docker files
docker-compose.override.yml
docker-compose.override.yaml
docker-compose.local.yml
docker-compose.local.yaml

# Ignore IntelliJ IDEA project files
.idea/
*.iml

